# Node
node_modules/
dist/
.vite/

# NX
.nx/

# Env
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# .NET
bin/
obj/

# Redis
*.rdb

# TEMP BUILD (IMPORTANT)
tmp-api-build-verify/

# Build outputs
build/
out/
.cache/